POSTGRES_DB=social_analytics
POSTGRES_USER=analytics_user
POSTGRES_PASSWORD=senha_segura_aqui
PGADMIN_PASSWORD=admin123

REDDIT_CLIENT_ID=coloca_aqui
REDDIT_CLIENT_SECRET=coloca_aqui
REDDIT_USER_AGENT=social-analytics-angola/1.0

YOUTUBE_API_KEY=